# Системные файлы
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
bin/
target/

# Maven
target/
*.log

# Gradle
.gradle/
build/
out/

# Логи
*.log

# Папки для тестов
/test-output/
test-results/

# Файлы конфигурации
.properties
.xml

# Артефакты сборки
*.jar
*.war
*.ear

# Временные файлы
*.tmp
*.temp
*.swp

# Другие временные файлы
*.class

# Файлы зависимостей
/.mvn/
mvnw*

.gitattributes